<section class="about_us text-center mt-5">
    <div class="container">
        <h2>About Us</h2>
        <p class="lead">
            We are dedicated team of professionals passionate about delivering
            high-quality education and training..
        </p>
        <div class="row mt-5">

            <div class="col-md-4">
                <img src="imgs/avtar1.jpeg" class="roundede-circle" alt="Team member 1" width="150" height="150" />
                <h4>Siya Tomar</h4>
                <p>CEO & Founder</p>
            </div>

            <div class="col-md-4">
                <img src="imgs/avtar2.jpeg" class="roundede-circle" alt="Team member 1" width="150" height="150" />
                <h4>Vihan Mask </h4>
                <p>Instructor</p>
            </div>
            <div class="col-md-4">
                <img src="imgs/avtar3.jpeg" class="roundede-circle" alt="Team member 1" width="150" height="150" />
                <h4>Krish Nadu</h4>
                <p>Team Lead</p>
            </div>
        </div>
    </div>

</section>