<section>
    <img src="imgs/Learnifybanner.png">

    <div class="main-content">
        <h1 class="mt-5">Knowledge Awaits You</h1>
        <p class="description">
            At Learnify, we believe that education should be accessible to everyone, anytime, anywhere.</p>
            <p>From tech to non-tech, select from a wide range of courses to upskill and advance your career!</p>
        <div class="button-container mt-5">
            <button class="btn custom-btn courses">Courses</button>
            <button class="btn custom-btn projects">Projects</button>
            <button class="btn custom-btn certification">Certification</button>
            <button class="btn custom-btn practice">Practice</button>
        </div>
    </div>
</section>

<section class="courses">

    <h1 class="text-center">Explore Our Courses</h1>
    <app-courses></app-courses>

    <!-- <div class="container">
        <h1 class="text-center">All Courses</h1>
        <app-courses></app-courses>
    </div> -->

    <div>
        <app-about></app-about>
    </div>
    

</section>